body {
  min-height: 4000px; }

.profileCover {
  width: 100%;
  min-height: 455px;
  box-shadow: 0px 0px 3px gray;
  padding: 0;
  background-color: #fff;
  margin-bottom: 20px; }

.imgCover {
  background: url("../images/0.jpg") no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover; }

.myImg {
  margin-top: -75px;
  margin-left: 3%; }

.MyName {
  font-size: 24px;
  color: #191919; }

#city {
  color: #666666; }

.buttons {
  padding: 0; }

.More {
  border: 1px solid black;
  outline: 2px solid transparent;
  margin-left: 5%;
  border-radius: 1px; }

.More:hover {
  outline: 2px solid black;
  border-radius: 1px;
  background-color: #B3B6B9; }

.left {
  float: left; }

.right {
  float: right;
  line-height: 18px; }

.pinTool {
  float: right;
  position: relative;
  top: 0px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%; }

.pinTool:hover {
  background-color: #C3DEED; }

.fa-graduation-cap {
  float: left;
  margin-right: 10px;
  margin-top: 8px;
  color: #B3B6B9; }

.fa-address-book {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  color: #B3B6B9; }

.fa-user-friends {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  color: #B3B6B9; }

.f {
  width: 160px;
  float: left; }
  .f a {
    color: #191919; }
  .f a:hover {
    text-decoration: none; }

.profStrength {
  width: 100%;
  min-height: 125px;
  box-shadow: 0px 0px 3px gray;
  background-color: #fff;
  padding-top: 20px; }

.streng {
  font-size: 22px;
  color: #666666; }
  .streng span {
    font-size: 22px;
    color: black; }

.streng:hover {
  color: #666666;
  text-decoration: none; }

#hide {
  float: right; }

.progress {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 13px;
  background-color: #fff; }

.firstBro {
  background-image: linear-gradient(to right, #544BC2, #4367BF); }

.secondBro {
  background-image: linear-gradient(to right, #4268BF, #3184BC); }

.thirdBro {
  background-image: linear-gradient(to right, #3185BC, #20A0B9); }

.fourthBro {
  background-image: linear-gradient(to right, #1FA1B9, #148886); }

.gray {
  background-color: #E1E9EE; }

.iconStar {
  position: absolute;
  top: 62px;
  left: 55%; }

.popUpIcon {
  position: absolute;
  z-index: 10;
  top: 105px;
  left: 275px;
  display: none;
  width: 263px;
  height: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 3px gray; }
  .popUpIcon img {
    margin-top: 20px; }

.popUpIcon2 {
  position: absolute;
  z-index: 5;
  top: 105px;
  left: 326px;
  display: none;
  width: 150px;
  height: 220px;
  background-color: #fff;
  box-shadow: 0px 0px 3px gray;
  padding-top: 10px; }
  .popUpIcon2 span {
    color: #666666;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 10px; }
  .popUpIcon2 ul li {
    list-style-type: none;
    font-size: 14px; }
  .popUpIcon2 ul .act li {
    list-style-image: url("../images/right.png"); }

.topPop {
  text-align: center; }

.middle {
  padding-left: 10px; }

.circleStar {
  position: absolute;
  top: 62px;
  left: 93%; }

.popUpIcon3 {
  position: absolute;
  z-index: 10;
  top: 105px;
  left: 440px;
  display: none;
  width: 263px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0px 0px 3px gray; }
  .popUpIcon3 p {
    font-size: 14px;
    color: #666666; }
  .popUpIcon3 img {
    margin-top: 20px; }

#hide {
  border: none;
  background: none;
  height: 36px;
  width: 40px; }

#hide:hover {
  background-color: #E3EAEF;
  border-radius: 50%;
  height: 36px;
  width: 40px; }

.fa-chevron-down, .fa-chevron-up {
  color: #666666; }

.div2, .div3, .div4 {
  display: none;
  width: 100%;
  height: 86px; }

.div1, .div4 {
  display: block;
  width: 100%;
  height: 86px; }

.div1, .div2, .div3, .div4 {
  border: 1px solid #D9D9D9;
  margin-bottom: 20px;
  border-radius: 2px;
  padding-top: 20px;
  padding-left: 20px; }
  .div1 img, .div2 img, .div3 img, .div4 img {
    float: left;
    margin-right: 20px; }
  .div1 .span1, .div2 .span1, .div3 .span1, .div4 .span1 {
    font-weight: 600;
    color: #19191F;
    font-size: 16px; }
  .div1 .span2, .div2 .span2, .div3 .span2, .div4 .span2 {
    color: #666666;
    font-size: 16px;
    font-weight: 100; }

.containerStrength {
  padding-bottom: 20px; }
  .containerStrength #previeus, .containerStrength #next {
    background: none;
    border: none;
    color: #666666; }
    .containerStrength #previeus .fa-chevron-left, .containerStrength #next .fa-chevron-left {
      float: left;
      margin-top: 5px;
      margin-right: 15px; }
    .containerStrength #previeus .fa-chevron-right, .containerStrength #next .fa-chevron-right {
      float: right;
      margin-top: 3px;
      margin-left: 15px; }
  .containerStrength .gropButtons {
    float: right; }
    .containerStrength .gropButtons .btn-primary {
      background-color: #0073B1;
      border-radius: 1px; }

.clear {
  width: 100%;
  height: 1px;
  clear: both; }

.rightSidBar {
<<<<<<< HEAD
  width: 100%;
  height: 125px;
  box-shadow: 0px 0px 3px gray;
  background-color: #fff;
  padding-top: 20px; }
=======
  background-color: #fff;
  box-shadow: 0px 0px 3px gray;
  height: 100px; }
>>>>>>> 285dd8ee439b5adf4016f0a2ca6dd20862060a46

.navBar2 {
  position: sticky;
  top: 50px;
  z-index: 8;
  background-color: #fff;
  height: 65px;
  box-shadow: 0px 0px 3px gray;
  display: none; }

.StrengthYour {
  height: 250px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px gray;
  border-top: 3px solid #0073B1;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 14px;
  margin-bottom: 20px; }

.gropButtons2 {
  float: right; }

.dashboard {
  height: 315px;
  width: 100%;
  background-color: #F3F6F8;
  box-shadow: 0px 0px 3px gray;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 14px;
  margin-bottom: 20px; }
  .dashboard h6 {
    color: #61627E; }

.myDiv {
  width: 100%;
  height: 85px;
  background-color: #fff;
  box-shadow: 0px 0px 3px gray;
  float: left;
  margin-bottom: 20px;
  padding-top: 10px; }
  .myDiv .divPragraph {
    float: left; }
    .myDiv .divPragraph .headP {
      font-size: 16px; }
    .myDiv .divPragraph #ON {
      background-color: #2F7B15;
      color: #fff; }
    .myDiv .divPragraph .pragraph2 {
      color: #666666; }

.fa-briefcase {
  color: #61627E;
  float: left;
  margin-right: 10px; }

.skils {
  background-color: #fff;
  box-shadow: 0px 0px 3px gray;
  min-height: 400px;
  width: 100%;
  margin-top: 20px; }
  .skils p {
    text-align: center; }
  .skils a:hover {
    text-decoration: none; }
  .skils .skillTop {
    padding-top: 20px;
    padding-left: 16px; }
  .skils h5 {
    float: left; }
  .skils .groupOfButton {
    float: right;
    margin-right: 14px; }
  .skils .p1 {
    margin-top: 20px;
    line-height: 10px; }
    .skils .p1 h6 {
      color: black; }
    .skils .p1 p {
      font-size: 13px;
      color: #666666; }
      .skils .p1 p span {
        color: black;
        font-size: 14px;
        font-weight: 600; }

.clear {
  width: 100%;
  clear: both; }

.btn-outline-primary {
  outline: 2px solid transparent; }

.btn-outline-primary:hover {
  color: #007bff;
  background-color: #B8D5DF;
  border-color: #007bff;
  outline: 2px solid #007bff;
  border-radius: 2px; }

.speBtn {
  background: none;
  border: none;
  color: #2F73B4; }
  .speBtn .fa-chevron-down {
    color: #2F73B4; }

.moreDiv {
  margin-top: -26px;
  display: none;
  width: 100%;
  background-color: #F3F6F8; }
  .moreDiv .industry {
    color: black; }
  .moreDiv h6 {
    color: #616263; }
  .moreDiv .fa-chevron-up {
    color: #2F73B4; }
  .moreDiv .menuLeft {
    float: left;
    width: 40%; }
  .moreDiv .menuRight {
    float: left;
    width: 40%; }
  .moreDiv ul {
    padding-left: 0; }
    .moreDiv ul li {
      list-style-type: none;
      color: black;
      font-weight: 600;
      line-height: 30px; }
  .moreDiv .topMoreDiv {
    min-height: 600px;
    padding-top: 20px;
    padding-left: 15px; }
  .moreDiv p {
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #CFD1D3;
    height: 40px;
    padding-top: 10px; }

.accomplishmen {
  padding-top: 20px;
  width: 100%;
  min-height: 220px;
  box-shadow: 0px 0px 3px gray;
  margin-top: 20px;
  background-color: #fff; }
  .accomplishmen h5 {
    margin-left: 15px; }
  .accomplishmen h5 {
    float: left; }
  .accomplishmen .divVisable h2, .accomplishmen .divNonVisable h2, .accomplishmen .divVisable2 h2, .accomplishmen .divNonVisable2 h2 {
    float: left;
    color: #0073B1;
    margin-right: 20px; }
  .accomplishmen .divVisable p, .accomplishmen .divNonVisable p, .accomplishmen .divVisable2 p, .accomplishmen .divNonVisable2 p {
    float: right; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #666666;
  text-decoration: none;
  background-color: #CDCFD2; }

.divVisable {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding-left: 30px; }

.divNonVisable {
  width: 100%;
  height: 160px;
  background-color: #F3F6F8;
  display: none;
  border-top: 1px solid #CFD1D3;
  padding-left: 30px; }

.divVisable2 {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding-left: 30px; }

.divNonVisable2 {
  width: 100%;
  height: 160px;
  background-color: #F3F6F8;
  display: none;
  border-top: 1px solid #CFD1D3;
  padding-left: 30px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 300px) {
  .content {
    margin-top: 40px; }

  .btn-group {
    margin-left: -10px;
    width: 100%; }

  .profileCover {
    height: 700px; }

  .More {
    margin-top: 20px;
    width: 100%;
    margin-left: -20px;
    margin-bottom: 20px; }

  .containerProgress {
    display: none; }

  .rightSidBar {
    display: none; }

  .profStrength {
    padding-bottom: 170px;
    margin-top: 40px;
    margin-bottom: 20px; }

  .div1, .div2, .div3, .div4 {
    min-height: 200px;
    margin-top: 30px; }

  .gropButtons .btn-light, .gropButtons .btn-primary {
    margin-top: 20px;
    width: 100%; }

  #next {
    float: right;
    width: 50%; }

  #previeus {
    float: left;
    width: 50%; }

  .StrengthYour {
    height: 400px; }

  .dashboard {
    height: 620px; }
    .dashboard h6 {
      font-style: italic; }
    .dashboard a {
      text-decoration: none; }
      .dashboard a span {
        color: #19191F; }

  .sepMyDiv {
    height: 200px; }

  .education {
    min-height: 420px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 3px gray;
    padding-top: 30px;
    padding-left: 15px; }
    .education h5 {
      color: #191943;
      margin-bottom: 20px; }
    .education .fa-university {
      float: left;
      font-size: 1rem !important;
      background-color: #B3B6B9;
      color: #DDDEDF;
      padding: 1rem;
      margin-right: 30px; }
    .education .span1 {
      font-size: 15px;
      font-weight: 650;
      color: #191919; }
    .education .span2 {
      font-size: 15px; }
    .education .span3 {
      color: #666666; }

  .pragraphEdu {
    width: 80%;
    float: left; }
    .pragraphEdu .skilspragraph {
      color: #666666; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .content {
    margin-top: 40px; }

  .btn-group {
    margin-left: 0px;
    width: 100%; }

  .More {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px; }

  .containerProgress {
    display: block; }

  .rightSidBar {
    display: none; }

  .circleStar {
    left: 88%; }

  .popUpIcon {
    left: 0; }

  .popUpIcon2 {
    left: 0; }

  .popUpIcon3 {
    left: 150px; }

  .gropButtons {
    float: none; }

  .containerStrength .gropButtons {
    float: none; }

  .profStrength {
    padding-bottom: 70px;
    margin-top: 20px; }

  .dashboard {
    height: 530px; }

  .sepMyDiv {
    height: 200px; }

  .dashboard {
    height: 615px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .btn-group {
    margin-left: 0px;
    width: 100%; }

  .More {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px; }

  .containerProgress {
    display: block; }

  .rightSidBar {
    display: none; }

  .containerStrength .gropButtons {
    float: none; }

  .circleStar {
    left: 95%; }

  .popUpIcon {
    left: 50%; }

  .popUpIcon2 {
    left: 50%; }

  .popUpIcon3 {
    left: 70%; }

  .sepMyDiv {
    height: 200px; }

  .dashboard {
    height: 615px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .btn-group {
    margin-left: 0px;
    width: 40%; }

  .More {
    margin-top: 20px;
    width: 30%;
    margin-left: 80px;
    margin-bottom: 20px; }

  .profileCover {
    height: 550px; }

  .containerProgress {
    display: block; }

  .rightSidBar {
    display: block; }

  .containerStrength .gropButtons {
    float: none; }

  .circleStar {
    left: 93%; }

  .popUpIcon {
    left: 40%; }

  .popUpIcon2 {
    left: 47%; }

  .popUpIcon3 {
    left: 78%; }

  .dashboard {
    height: 300px; }

  .sepMyDiv {
    height: 200px; }

  .dashboard {
    height: 370px; }

  .myDiv {
    height: 125px; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .More {
    margin-left: 60px; }

  .containerProgress {
    display: block; }

  .containerStrength .gropButtons {
    float: right; }

  .gropButtons .btn-light {
    margin-top: 0px;
    width: 140px; }

  .gropButtons .btn-primary {
    margin-top: 0px;
    width: 183px; }

  #next {
    float: none;
    width: 16%; }

  #previeus {
    float: none;
    width: 16%; }

  .containerStrength .gropButtons {
    float: right; }

  .div1, .div2, .div3, .div4 {
    min-height: 100px;
    margin-top: 30px; }

  .profStrength {
    padding-bottom: 40px;
    margin-top: 20px; }

  .containerStrength #previeus, .containerStrength #next {
    width: 110px; }

  .profileCover {
    height: 500px; }

  .StrengthYour {
    height: 250px; }

  .myDiv {
    height: 85px; }

  .dashboard {
    height: 315px; } }
/*==========  Non-Mobile First Method  ==========*/

/*# sourceMappingURL=profile.css.map */
